In [1]:
import pandas as pd
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [2]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [3]:
dataset=dataset.drop("User ID",axis=1)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0         True
1     35            20000          0         True
2     26            43000          0        False
3     27            57000          0        False
4     19            76000          0         True
..   ...              ...        ...          ...
395   46            41000          1        False
396   51            23000          1         True
397   50            20000          1        False
398   36            33000          0         True
399   49            36000          1        False

[400 rows x 4 columns]

In [4]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [5]:
independent=dataset[["Age","EstimatedSalary","Gender_Male"]]
dependent=dataset["Purchased"]

In [6]:
independent.shape

(400, 3)

In [7]:
dependent

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [8]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)
X_train
X_test
y_train
y_test

132    0
309    0
341    0
196    0
246    0
      ..
168    1
150    0
393    1
66     0
240    1
Name: Purchased, Length: 134, dtype: int64

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)
X_train
X_test

array([[-0.76605872,  0.52531653,  1.00754728],
       [ 0.02298918, -0.57354963, -0.99250926],
       [-0.27290378,  0.16892751,  1.00754728],
       [-0.76605872,  0.28772385, -0.99250926],
       [-0.27290378, -0.57354963, -0.99250926],
       [-1.06195168, -1.4645222 ,  1.00754728],
       [-0.66742773, -1.61301763, -0.99250926],
       [-0.1742728 ,  2.21816441,  1.00754728],
       [-1.94963056, -0.03896609, -0.99250926],
       [ 0.91066806, -0.78144323,  1.00754728],
       [-0.76605872, -0.60324872,  1.00754728],
       [-0.96332069, -0.42505421, -0.99250926],
       [-0.07564181, -0.42505421,  1.00754728],
       [ 0.12162016,  0.22832568,  1.00754728],
       [-1.75236858,  0.49561745,  1.00754728],
       [-0.56879674,  1.4162891 , -0.99250926],
       [-0.07564181,  0.22832568,  1.00754728],
       [-1.85099957,  0.46591836,  1.00754728],
       [ 1.69971595,  1.80237721, -0.99250926],
       [-0.27290378, -1.40512403,  1.00754728],
       [-0.27290378, -0.66264689, -0.99250926],
       [ 0.91066806,  2.21816441, -0.99250926],
       [ 0.31888214, -0.54385055, -0.99250926],
       [ 0.91066806,  1.05990007,  1.00754728],
       [-1.45647562, -1.22692951, -0.99250926],
       [ 1.10793003,  2.12906715, -0.99250926],
       [-0.96332069,  0.52531653, -0.99250926],
       [-0.8646897 ,  0.31742293,  1.00754728],
       [-0.07564181, -0.21716061, -0.99250926],
       [-0.56879674,  0.49561745, -0.99250926],
       [-1.6537376 ,  0.55501562,  1.00754728],
       [-0.07564181,  0.28772385,  1.00754728],
       [ 1.89697793, -0.27655878,  1.00754728],
       [-0.07564181, -0.48445238,  1.00754728],
       [-1.35784464, -0.33595695,  1.00754728],
       [-1.94963056, -0.51415146,  1.00754728],
       [-1.55510661,  0.34712202,  1.00754728],
       [-0.37153477, -0.78144323, -0.99250926],
       [-0.66742773, -1.048735  , -0.99250926],
       [ 1.10793003, -0.98933683, -0.99250926],
       [-1.06195168,  0.55501562,  1.00754728],
       [ 0.31888214, -0.51415146,  1.00754728],
       [-1.06195168,  0.43621927, -0.99250926],
       [-0.27290378, -1.4645222 ,  1.00754728],
       [ 0.51614411,  1.26779367, -0.99250926],
       [-1.06195168, -0.33595695, -0.99250926],
       [-0.07564181,  0.31742293, -0.99250926],
       [ 1.40382299,  0.61441379, -0.99250926],
       [-1.16058266, -1.16753134,  1.00754728],
       [ 1.10793003,  0.49561745,  1.00754728],
       [ 1.89697793,  1.56478452, -0.99250926],
       [-0.37153477, -1.31602677, -0.99250926],
       [-0.27290378, -0.36565603, -0.99250926],
       [-0.37153477,  1.35689093,  1.00754728],
       [ 2.0942399 ,  0.55501562, -0.99250926],
       [ 0.71340608, -1.10813317,  1.00754728],
       [-0.8646897 ,  0.40652019, -0.99250926],
       [-1.16058266,  0.31742293, -0.99250926],
       [ 1.10793003, -1.22692951,  1.00754728],
       [-1.45647562, -1.4645222 ,  1.00754728],
       [-0.56879674, -1.52392037,  1.00754728],
       [ 2.19287089, -0.81114232,  1.00754728],
       [-1.85099957,  0.19862659,  1.00754728],
       [-0.1742728 ,  0.88170556,  1.00754728],
       [-1.85099957, -1.28632769, -0.99250926],
       [ 2.19287089,  0.40652019,  1.00754728],
       [-1.35784464,  0.5847147 , -0.99250926],
       [-1.06195168, -0.33595695,  1.00754728],
       [ 0.22025115, -0.66264689,  1.00754728],
       [ 0.41751312,  0.02043208, -0.99250926],
       [-0.56879674,  2.39635892, -0.99250926],
       [-0.27290378,  0.22832568, -0.99250926],
       [-1.55510661, -0.18746152, -0.99250926],
       [ 0.71340608, -1.40512403,  1.00754728],
       [-1.06195168,  0.5847147 ,  1.00754728],
       [-1.94963056,  0.3768211 ,  1.00754728],
       [ 0.41751312,  0.28772385, -0.99250926],
       [ 0.22025115, -0.27655878, -0.99250926],
       [ 1.50245398, -1.048735  , -0.99250926],
       [ 0.91066806,  1.11929824, -0.99250926],
       [ 1.99560891,  2.21816441,  1.00754728],
       [ 2.0942399 ,  0.40652019, -0.99250926],
       [-1.35784464, -0.42505421, -0.99250926],
       [-1.16058266, -1.01903592, -0.99250926],
       [ 1.99560891, -0.92993866, -0.99250926],
       [ 0.41751312,  0.31742293, -0.99250926],
       [ 0.22025115,  0.16892751, -0.99250926],
       [ 2.0942399 ,  1.80237721,  1.00754728],
       [ 0.81203707, -0.8408414 , -0.99250926],
       [ 0.31888214, -0.27655878, -0.99250926],
       [ 0.41751312, -0.15776244,  1.00754728],
       [-0.07564181,  2.27756258, -0.99250926],
       [-1.45647562, -0.6329478 , -0.99250926],
       [-1.25921365, -1.07843409,  1.00754728],
       [-1.35784464,  0.43621927,  1.00754728],
       [-1.06195168,  0.7926083 , -0.99250926],
       [-1.45647562, -0.18746152,  1.00754728],
       [ 1.00929905, -1.07843409,  1.00754728],
       [ 1.00929905,  0.61441379,  1.00754728],
       [ 0.41751312,  1.03020099,  1.00754728],
       [ 0.6147751 , -0.90023957, -0.99250926],
       [-0.56879674,  1.50538635,  1.00754728],
       [ 0.02298918, -0.57354963, -0.99250926],
       [-0.56879674,  1.95087264, -0.99250926],
       [ 1.40382299, -1.43482311, -0.99250926],
       [ 1.50245398,  1.03020099, -0.99250926],
       [ 0.12162016, -0.81114232,  1.00754728],
       [ 0.02298918, -0.24685969,  1.00754728],
       [-0.1742728 , -0.57354963, -0.99250926],
       [-0.1742728 , -0.18746152, -0.99250926],
       [-0.27290378, -1.31602677, -0.99250926],
       [-0.27290378, -0.57354963,  1.00754728],
       [ 0.41751312,  0.10952933,  1.00754728],
       [ 0.91066806, -0.60324872, -0.99250926],
       [ 2.0942399 , -1.19723043, -0.99250926],
       [ 1.10793003, -0.12806335,  1.00754728],
       [ 0.71340608,  1.83207629, -0.99250926],
       [-0.66742773,  0.5847147 , -0.99250926],
       [ 0.81203707,  0.3768211 , -0.99250926],
       [ 0.91066806, -0.54385055, -0.99250926],
       [-1.16058266, -1.61301763,  1.00754728],
       [ 2.19287089,  0.97080281,  1.00754728],
       [ 0.02298918,  1.26779367, -0.99250926],
       [ 0.22025115,  1.11929824,  1.00754728],
       [ 0.41751312, -0.48445238, -0.99250926],
       [-0.27290378, -0.30625786,  1.00754728],
       [ 1.00929905, -0.8408414 ,  1.00754728],
       [ 1.00929905,  1.92117355, -0.99250926],
       [ 0.02298918,  1.29749276, -0.99250926],
       [-0.8646897 ,  2.33696075,  1.00754728],
       [-1.16058266, -1.61301763, -0.99250926],
       [ 2.19287089, -0.81114232,  1.00754728],
       [-1.35784464, -1.49422128,  1.00754728],
       [ 0.41751312,  2.36665983,  1.00754728]])

In [10]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [11]:
y_pred = classifier.predict(X_test)

In [12]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[78,  7],
       [ 6, 43]], dtype=int64)

In [13]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, y_pred)

In [14]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.93      0.92      0.92        85
           1       0.86      0.88      0.87        49

    accuracy                           0.90       134
   macro avg       0.89      0.90      0.90       134
weighted avg       0.90      0.90      0.90       134

In [18]:
preinput=sc.transform([[40,300,1]])
result=classifier.predict(preinput)
print(preinput)
print(result)

[[ 0.22025115 -2.04959418  1.00754728]]
[0]

C:\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [19]:
import pickle
pickle.dump(classifier,open('finalized_RandomForest_model.sav','wb'))

In [20]:
loaded_model=pickle.load(open('finalized_RandomForest_model.sav','rb'))
preinput=sc.transform([[40,300,1]])
result=loaded_model.predict(preinput)
print(preinput)
print(result)

[[ 0.22025115 -2.04959418  1.00754728]]
[0]

C:\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(